:root {
  --dark-theme-background-color: #181a1b;
  --dark-theme-font-color: #c3beb6;
  --dark-theme-input-background-color: #2b2a33;
  --dark-theme-input-border-color: #8f8f9d;
  --dark-theme-input-font-color: #c3beb6;
}

* {
  transition: 0.3s;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

.dark-theme {
  background-color: var(--dark-theme-background-color);
  color: var(--dark-theme-font-color);
}

.dark-theme-input {
  background: var(--dark-theme-input-background-color);
  border-color: var(--dark-theme-input-border-color);
  color: var(--dark-theme-input-font-color);
}

.dark-theme-heading {
  color: var(--dark-theme-font-color);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

@media (max-width: 767px) {
  .skills-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}

.alert-close {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.codewars-badge-link {
  display: inline-block;
  text-decoration: none;
}

.codewars-badge {
  height: auto;
}

@media (max-width: 767px) {
  .codewars-badge-link {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 100%;
  }

  .codewars-badge {
    width: 85%;
    height: auto;
  }
}

.projects-link {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.tool-icon img {
  width: 50px;
  height: 50px;
}

.tool-icon img.nextjs-icon {
  filter: grayscale(100%);
}

.img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-container span {
    text-align: center !important;
  }
}

.language-selection {
  cursor: pointer;
  background-color: #bd5d38;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.language-selection:hover,
.language-selection:active {
  opacity: 1;
}

.language-options {
  position: fixed;
  bottom: 90px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  animation: fadeIn 0.3s ease;
}

.language-options::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent; /* Color of the triangle */
  border-top: 10px solid #b7b7b7; /* Color of the triangle */
  top: 100%; /* Positioning the triangle above the circle */
  left: 70%;
  transform: translateX(-50%);
}

.language-options button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-options button:hover {
  background-color: #e0e0e0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
