:root {
  --dark-theme-background-color: #181a1b;
  --dark-theme-font-color: #c3beb6;
  --dark-theme-input-background-color: #2b2a33;
  --dark-theme-input-border-color: #8f8f9d;
  --dark-theme-input-font-color: #6f6b6a;
}

* {
  transition: 0.3s;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

.dark-theme {
  background-color: var(--dark-theme-background-color);
  color: var(--dark-theme-font-color);
}

.dark-theme-input {
  background: var(--dark-theme-input-background-color);
  border-color: var(--dark-theme-input-border-color);
  color: var(--dark-theme-input-font-color);
}

.dark-theme-heading {
  color: var(--dark-theme-font-color);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

@media (max-width: 767px) {
  .skills-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}
